<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>How to use VIM</title>
</head>
<body>
    <h1>VIM cheatsheet</h1>
    <img src="/images/vi-vim-cheat-sheet.gif" alt="vim cheatsheet">
    <a href="/">Back to Home</a>
    <a href="/about">Go to about</a>
    <a href="/works">Go to work</a>
</body>
</html>